@media (max-width: 768px) {
 
  [aria-controls="navbarNav"] {
  display: block;
  position: absolute;
  right: 3%;
  width: 30%;
  height: 30%;
  outline: none;
  background: transparent;
 }

 [aria-expanded="false"]~ ul{
  display: none;
 }

 [aria-expanded="true"]~ ul{
  display: block;
  position: absolute;
  left: 9%;
    top: 100%;
    display: flex;
    flex-direction: column;
 }

.navbar-nav li:last-child {
  position: absolute;
    top: 91%;
    left: 37%;
}

  .navbar-nav {
        display: block;
    }

    [aria-expanded="true"] ~ .navbar-nav {
      display: flex;
      flex-direction: row;
    }    

    .logos {
      margin: auto;
    position: relative;
    top: 5rem;
      gap: 3rem;
    }

  .features {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

  .box{
    width: 18rem;
    margin: auto;
  }

    .prospective , .team-sides{
        flex-wrap: wrap;
  }

  .prospective{
    width: 10rem;
    font-size: 1.3rem;
    margin: auto;
  }

  .prospective button{
    width: 6rem;
    font-size: .8rem;
    height: 2rem;
  }

  .prospective h2{
    font-size: 1.4rem;
    width: 30rem;
    margin-left: -8rem;
  }

  .prospective img{
    width: 30rem;
    margin-left: -12rem;

  }


  

  .team-content{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.team-content h1{
  width: 100%;
}

.top{margin-bottom: 17rem;}



.flex-container {
    flex-direction: column;
    height: 50rem;
  }

  .why-top{
    margin-left: 2rem;
  }
  
  .smile-spot {
    align-items: center;
  }
  
  .smile {
    margin-right: 0; /* Remove the margin for vertical alignment on mobile */
    margin-bottom: 7rem;
    margin-top: -3rem; /* Add spacing between the smile-spot and hubspot on mobile */
  }

  .smile img:first-child {
    height: 29rem;
  }

  .smile img:nth-child(2) {
    position: absolute;
    transform: translate(-61%, -87%);
    height: 30rem;
}

  .hubspot{
    text-align: center;
  }

  .hubspot img {
    width: 26%;
    transform: translate(137%, 10px);
    margin-left: 1rem;
}

.container .best{
    margin-top: 115%;
}
.pricing-plus{
  display: flex;
  flex-direction: column;
  position: relative;
    top: 14rem;
    width: 720px;
}

.companies, .title p, .price-title h2{
  position: relative;
    top: 27rem;
}

.price-title p{
  position: relative;
  top: 25rem;

}
.pricing{
  position: relative;
  top: 8rem;
}

.plus{
  position: relative;
    top: 9rem;
    grid-gap: 1rem;
    margin-left: 2rem;
}

.plus p{font-size: 1.3rem;}

.hire-container{
  position: relative;
  top: 34rem;
  margin-left: 2rem;
  width: 43.125rem;
}

.pricing-plus .pricing{
  text-align: center;
  margin-bottom: 3rem;
  margin-left: 2rem;
  width: 40rem;
}

.hire-us{
  display: flex;
  flex-direction: column;
  background-color: navy;
    height: 75rem;
    width: 43.75rem;
}

/* .container .hire-us { 
  background-color: navy;
  height: 95rem;
  width: 108%;
 } */

.hire-1{
display: flex;
width: 100%;
}

.part1{
  width: 40%;
  text-align: center;
}

.part2{
  width: 40%;
  margin-left: 2rem;
}

.bottom-container{
  position: relative;
  top: 60rem;
  margin-left: 2rem;
}

.sec-ft .resources, .sec-ft .documentation, .sec-ft .feat, .sec-ft .company {
  width: 45%;
  flex-wrap: wrap;
}

.features{
  gap: 25px;
  margin-left: 2rem;
}


}

  @media (max-width: 376px) {
    
    [aria-expanded="true"] ~ .navbar-nav {
      flex-direction: column;
      margin-left: -8rem;
    height: 95%;
  }
  
  [aria-controls="navbarNav"] {
    width: 53%;
   
}


  .nav-link button{
    position: relative;
    top: 5rem;

  }


  .logos {
    margin-top: 3rem;
  }

  .logo-group{
    width: 90%;
  }

  .logo-group img{
    width: 50px;
  }

    .navbar a img {
      width: 57%;
  }

  .team-sides, .features{
    width: 50%;
}

.team-content h1, .team-content p {
  width: 18rem;
}
   

     .features {
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      margin: 1rem;
    }
    

    .team-sides {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team-content {
      text-align: center;
    }

    .team-content, .logos , .benefits-container{
      margin:1rem;
    }

    .logo-group,.actions{width: 18rem;}

    .benefits-container{
      position: relative;
    top: 2rem;
    }

    .actions button{    
      width: 8rem;
      height: 3rem;
    }

    .top{margin-bottom: 17rem;}

    /* body{margin-left: 4rem;} */

    .bullets {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
  }

  .prospective{
    width: 10rem;
    font-size: 1.3rem;
    margin: auto;
  }

  .prospective button{
    width: 4rem;
    font-size: .5rem;
    height: 2rem;
  }

  .prospective h2{
    font-size: 1.4rem;
    width: 18rem;
    margin-left: 1rem;
  }

  .prospective {
    width: 19rem;
  }

  .prospective img{
    width: 18rem;
    margin-left: -2rem;
  }

  .video img{
    width: 21.75rem;
  }

  article button{
    height: 30%;
  }

  figure img{
    margin: 1rem;
  }

  .why-top p{
    font-size: 1rem;
    width: 15rem;
    margin: auto;
  }

  .bullets{
    flex-direction: column;
  }

  .flex-container{
    position: relative;
    top: 20rem;
  }

 
  

    .prospective{
        flex-wrap: wrap;
    }

   

  .bullets , .companies{
    flex-direction: column;
    gap: 2rem;
    position: relative;
    top: 10rem;
    }

    .companies ul{flex-direction: column;}

    .companies ul:last-child{width: 100%}

    .plus div{
      width: 18rem;
      margin: 1rem;
    }

    .part2 {
      margin-left: 1rem;
    }

    .start button{
      width: 5rem;
    font-size: .8rem;
    height: 2rem;
    }
    
    .hire-container, .hire-us{
      width: 18rem;
    }

    .hire-container{
      position: relative;
    top: 22rem;
    }

    .hire-2 .hiring .fl, .bc{
      display: flex;
    flex-direction: column;
    height: 7rem;
    }

    .fl{
      width: 95%;
    }


    .container .best {
        margin-top: 109%;
    }  

    .smile {    margin-left: 5rem;}

    .smile img:first-child {
      width: 8rem;
    height: 30rem;
    left: -5rem;
    top: -1rem;
    }

    .smile img:nth-child(2) {
      width: 11rem;
    height: 15rem;
    left: 9rem;
    top: 32rem;
    }

    .hubspot h3, .hubspot h4 {
      position: relative;
      top: 3rem;
    font-size: 1.2rem;
    }

    .title p, .price-title p{
      top: 9rem;
    }

    .price-title p{
      top: 26rem;
    }

    .price-title h2{
      font-size: 2rem;
    }

    .price-title-container{
      top: -5rem;
    }


    .pricing-plus .pricing {
      width: 18rem; 
    }

    .pricing-plus{
      position: relative;
    top: 28rem;
    }
    

    .pricing{
      position: relative;
    top: -2rem;
    width: 19rem;
    }

    .pricing button{
      width: 7rem;
    }

    .best .companies li img {width: 5rem;}

    .hubspot{
      margin-top: -19rem;
    }

    .plus{
      grid-template-columns: repeat(auto-fit,minmax(51%,1fr));
      position: relative;
    top: 1rem;
    }

    .container .hire-us {
    height: 131rem;
    display: flex;
    flex-direction: column;
    }
  

    .hire-1{
      display: flex;
      width: 100%;
      flex-direction: column;
      text-align: center;
      }

    .hire-2{
      width: 80%;
      height: 73rem;
    }
      

      .part1,.part2{
        width: 80%;
      }

      form{
        width: 76%;
        margin: auto;

      }

      form .hiring{
        flex-direction: column;
      }

      .privacy a:nth-child(2){
        display: none;
      }

      
      .hire-2 h3, input, textarea,select {
        width: 100%;
        margin: auto;
      }

      #check{    width: 57%;}

      .start{
        height: 100%;
    }


      .top-bottom {
        flex-direction: column;
        position: relative;
        top: -8rem;
        margin-right: 4rem;
    }

    .sec-ft {
      width: 109%;
      flex-direction: column;
  }

  .sec-ft .resources, .sec-ft .documentation, .sec-ft .feat, .sec-ft .company {
    width: 96%;;
  }

  .extra1 ul, .extra2 ul, .extra3 ul{
    display: flex;
    flex-direction: row;
    
}

.extra, .extra-23 {
  flex-direction: column;
  margin: auto;
}

.extra1 ul:last-child, .extra2 ul:last-child, .extra3 ul:last-child{
  margin: auto;
  align-items: center;
}

.hire-us{
 height: 124rem;
}

.bottom-container{
  top: 109rem;
}
  

}